* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(145deg,
      #0A7 0%,
      #18A9DB 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

article {
  /* transform: scale(.3); */
    /* opacity: 0 */

}

article section:first-child {
  height: calc(90vh - 70px);
  background: #124;
  padding: 5px;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border-radius: 1rem 1rem 0 0;
  border: 2px solid mediumslateblue;
  position: relative;
}
article section:last-child {
  padding: 5px;
  height: 50px;
  background: #123;
  width: 85%;
  border: 2px solid #13F2FFD6;
  margin: auto;
  border-radius: 0 0 1rem 1rem;
}

@media(min-width: 768px) {
  article section:first-child,
  article section:last-child {
    width: 600px;
  }
}

@keyframes send {
  from {
    transform: translate(-50px, 300%);
  }

  to {
    transform: translate(0, 0);
  }
}

article section:first-child pre,
article section:first-child .reply {
  color: #fff;
  background: #4B7BC9D6;
  width: 75%;
  padding: 15px;
  flex: none;
  overflow: auto;
  border-radius: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  font-weight: bold;
  font-family: Arial;
  animation: send .7s forwards;
  user-select: none;
  border: 2px solid #0ff
}

article section:first-child .reply {
  margin: 10px 0 10px auto;
  background: #1C5084ED;
  margin-right: 0;
  border: 2px solid #ff0;
  opacity: 0;
  animation: rep .7s 1s forwards;
}

@keyframes rep {
  from {
    transform: translate(120%, 300%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

article section:first-child pre span {
  font-size: 10px;
  color: linen;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  right: 5px;
}


article section form {
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: 100%;
}

article section form textarea {
  padding: 10px;
  border-radius: 1rem;
  border: 2px solid darkturquoise;
  caret-color: darkred;
}

article section form input:focus,
article section form textarea:focus {
  outline: none;
}

article section form textarea {
  width: 80%;
}

[type=submit] {
  width: 0;
  background-image: url("../send.svg");
  background-size: 45px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  border-radius: 0;
  transition: .3s;
}
